
:root{
    --blue-gradient: linear-gradient(101deg, #00aeef, #34c7ff);
    --white-text: #fff;
    --blue-text: #00AEEF;
    --box-shadow:  rgb(0 0 0 / 27%);;
    --box-shadow-2:  rgb(220 220 220);
    --text-shadow: rgba(0, 0, 0, 0.16);
    
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    scroll-behavior: smooth;
    
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    font-family: Montserrat;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    
}

@keyframes apper {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.animate-apper {
    animation-name: apper;
    animation-duration: 1.5s;
    animation-fill-mode: backwards; 
}


#container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 999;
}

.link {
    text-decoration: none;
}

.link:active > div{
    width: 230px;
    height: 45px;
    transition: ease-in-out .2s;
}

.logo {
    width: 260px;
    margin-top: 200px;
    margin-bottom: 150px;
}

.wave {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

.blue-block {
    height: 5px;
    background-image: var(--blue-gradient);
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

.wave-transition {
    margin-top: -77px;
}

.button-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    box-shadow: 0 0px 10px 0 var(--box-shadow);
    background-image: var(--blue-gradient);
    border-radius: 0px 22px 0px 22px;
    font-size: 1.5rem;
    color: var(--white-text);
    text-shadow: 0 3px 6px var(--text-shadow);
    margin-bottom: 15px;
}

.text-gradient {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 330px;
    height: fit-content;
    box-shadow: 0 0px 10px 0 var(--box-shadow);
    background-image: var(--blue-gradient);
    border-radius: 0px 22px 0px 22px;
    font-size: 1.125rem;
    color: var(--white-text);
    text-shadow: 0 3px 6px var(--text-shadow);
    margin-bottom: 15px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-gradient b {
    width: 290px;
    overflow-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.125rem;
}

.text-gradient span {
    width: 290px;
    overflow-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.75rem;
}

.text-historic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.125rem;
    color: var(--white-text);
    margin-top: 10px;
}

.text-historic b {
    width: 290px;
    overflow-wrap: break-word;
    font-size: 1.125rem;
}

.text-historic span {
    width: 290px;
    overflow-wrap: break-word;
    font-size: 0.75rem;
}

.tag-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: fit-content;
    background-image: var(--blue-gradient);
    border-radius: 0px 15px 0px 15px;
    font-size: 1.125rem;
    color: var(--white-text);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tag-gradient span {
    text-align: center;
    width: 50px;
    overflow-wrap: break-word;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 0.65rem;
}

.tag-area {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.button-stroke {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    border: 2px solid var(--blue-text);
    border-radius: 0px 22px 0px 22px;
    font-size: 1.5rem;
    color: var(--blue-text);
    margin-bottom: 15px;
}

.blue-header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 72px;
    background-image: var(--blue-gradient);
    z-index: 99;
}

.blue-header-top {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 15px;
    justify-content: left;
}

.blue-header-center {
    display: flex;
    width: 100vw;
    height: max-content;
    align-items: center;
    color: var(--white-text);
    font-size: 1.125rem;
    font-weight: bold;
}

.blue-header-center span{
    width: 260px;
    overflow-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-text {
    text-decoration: underline;
}

.blue-header-bottom {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 15px;
    justify-content: center;
}

.back-icon {
    margin: 10px;
    width: 30px;
    padding-top: 3px;
}

.nopad-icon {
    margin: 10px;
    width: 30px;
}

.id-icon {
    position: absolute;
    margin: 10px;
    width: 30px;
    padding-top: 3px;
    margin-left: 245px;
}

.form-conta {
    margin-top: 15px;
    width: 260px;
}

.form-entrar {
    margin-top: 15px;
    width: 260px;
}

.form-conta b, .form-entrar b {
    font-size: 15px;
    font-weight: 500;
}

.input-block input, .input-block-white input {
    height: 25px;
    width: 208px;
    margin-top: 0.2rem;
    background: #fff;
    border: 0px;
    outline: 0;
    padding: 0 1.6rem;
}

.input-block-white input {
    color: #fff;
    height: 25px;
    width: 208px;
    margin-top: 0.2rem;
    background: transparent;
    border: 0px;
    outline: 0;
    padding: 0 1.6rem;
}

.input-block, .input-block-white {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(112, 112, 112);
}

.input-block-white {
    color: #fff;
    font-weight: 600;
}

.input-block:focus-within {
    color: #111;
}
.input-block-white:focus-within {
    color: #fff;
}

.input-block:focus-within::after, .input-block-white:focus-within::after {
    content: "";
    width: 260px;
    height: 2px;
    background: var(--blue-text);
    position: absolute;
    bottom: 0px;
    transition: ease-in-out .2s;
}

.input-block-white:focus-within::after {
    background: #fff;
    height: 1px;
}

.subtexto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

.termos {
    margin-bottom: 50px;
}

.recuperar-conta {
    margin-bottom: 115px;
}

.login-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 260px;
    margin-bottom: 25px;
}

.login-options-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    background: var(--blue-gradient);
    border-radius: 100px;
}

  .mask-img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 50px;
    box-shadow: 0 0px 10px 0 var(--box-shadow);
  }

  .mask-img-history {
    position: absolute;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 999;
  }

  .mask-img-history-small {
    position: absolute;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-left: 5px;
    margin-top: 5px;
  }

  .mask-img-history-medium {
    position: absolute;
    border-radius: 100% !important;
    width: 45px !important;
    height: 45px;
    object-fit: cover;
    margin-left: 5px;
    margin-top: 5px;
  }

  .mask-img-map {
    position: absolute;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 60px;
    z-index: 999;
    box-shadow: 0 0px 10px 0 var(--box-shadow);
  }

  .mask-icon-history-1, .mask-icon-history-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: var(--blue-gradient);
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-left: 5px;
    margin-top: 5px;
  }

  .mask-icon-history-2 {
      margin-top: 55px;
  }

  .user-information {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .user-information b {
      font-size: 12px;
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 25px;
  }

  .user-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .user-options-option {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .user-options-option img {
    margin-right: 10px;
  }

  .user-options-option b {
    font-size: 1.5rem;
  }

  .user-options a {
    text-decoration: none;
    color: #000;
  }

  .history-img, .historysave-img {
      display: flex;
      justify-content: flex-end;
      width: 330px;
  }

  .historysave-img {
      justify-content: flex-start;
  }

  .history-img-content {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 0;
  }

.myBox {
    border: none;
    border-radius: 0 22px 0 22px;
    text-align: left;
    width: 90%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 15px;
    margin-bottom: 25px;
    }
    
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 10px 0 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: var(--blue-gradient);  
    border-radius: 0 10px 0 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:var(--blue-gradient);  
    }

    .history-text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 22px 0 22px;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 330px;
        height: 265px;
        background-color: #ffffffee;
        box-shadow: 0 0px 10px 0 var(--box-shadow);
    }

    .sub-options {
        display: flex;
        align-content: stretch;
        align-items: center;
        background-color: #ffffffee;
        width: 330px;
        height: 50px;
        border-radius: 25px 25px 0 0;
        box-shadow: 12px 12px 16px 16px var(--box-shadow-2);
    }

    .sub-options-block-1, .sub-options-block-2, .sub-options-block-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 25px 0 0;
        width: 100%;
        height: 100%;
    }

    .block-3-blue {
        background-color: var(--blue-text);
    }

    .textarea-insert {
        resize: none;
        font-family: Montserrat;
        padding: 15px;
      }

    .textarea-insert::placeholder {
        text-align: center;
        font-size: 18px;
        color: var(--blue-text);
        opacity: 50%;
      }

    .textarea-insert:focus-visible {
        outline-color: var(--blue-text);
        outline-width: 1px;
    }

    .bottom-block {
        width: 100%;
        height: 5px;
        background-color: #6C6C6C;
        opacity: 25%;
    }

    .blue-underline {
        width: 100%;
        height: 5px;
        background-color: var(--blue-text);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .blue-wave {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .search-gradient {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 330px;
        height: 70px;
        box-shadow: 0 0px 10px 0 var(--box-shadow);
        background-image: var(--blue-gradient);
        border-radius: 0px 22px 0px 22px;
        font-size: 0.937rem;
        color: var(--white-text);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .order-by {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 330px;
        height: fit-content; 
        text-transform: uppercase;
        font-size: 12px;
    }

    .order-by b {
        margin-left: 3px;
        font-weight: 600;
    }

    .historic-session {
        margin-top: 15px;
        width: 330px;
        height: fit-content;
    }
    .historic-session-img {
        width: 95px;
        height: 80px;
        background-color: #00aeef;
    }
    .historic-session-desc {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 230px;
    }

    .historic-session-desc span {
        font-size: 0.75rem;
        overflow-wrap: break-word;
    }

    .historic-session-desc b {
        overflow-wrap: break-word;
    }

    .historic-session-desc-sub {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .historic-session-desc-sub img {
        width: 10px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .historic-session-grid {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #historic-list {
        margin-bottom: 50px;
    }

    .selector-img {
        box-sizing: content-box;
      } 

    .splide {
        width: 330px;
    }

    .splide, .splide__slide {
        position: relative;
        outline: none;
        height: 220px;
    }

    .splide__pagination__page {
        border-radius: 0px 3px 0px 3px;
    } 

    .splide__arrow--next, .splide__arrow--prev {
        visibility: hidden;
    }

    html, body, #map {
        height: 100%;
    }

    .map-area-view {
        width: 100%;
        min-width: 375px;
        min-height: 84.7vh;
        transform: translateY(-55px);
    }

    .main-sub-options {
        box-shadow: 1px 0px 50px 90px rgb(255 255 255 / 85%);
        position: absolute;
        bottom: 0;
        z-index: 999;
    }

    .slider {
        width: 600px;
        transform: translateY(-55px);
        z-index: 9999;
    }

    .slick-slide {
      margin: 0px 5px;
    }

    .slick-slide img {
      width: 100%;
      border-radius: 0 20px 0 0;
    }

    .slick-prev:before,
    .slick-next:before {
      width: 0px;
      height: 0px;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

    .slider-container {
        position: absolute;
        z-index: 99999;
        display: flex;
        justify-content: center;
        height: auto;
        align-items: flex-end;
        bottom: 0;
        width: 100%;
    }

    .slider-area {
      display: flex;
      flex-direction: column;
      background: var(--blue-gradient);
      height: 200px;
      border-radius: 0 25px;
      box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
    }

    .img-area {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 0;
    }

    .img-area-main {
      height: 70%;
    }

    .img-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
    }

    .img-desc span {
      margin-left: 15px;
      margin-right: 15px;
    }

    .img-desc-date {
        padding-bottom: 10px;
    }

    .img-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      font-size: 15px;
      color: var(--white-text);
      margin-top: 5px;
    }

    .img-desc-text {
      font-size: 10px;
      color: var(--white-text);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    /* button */

.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-popup-content {
    color: #0089a5;
    
    font-size:2rem;
    font-weight: 600;
    margin: .8rem 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15c3d6;
    box-shadow: 17.2828px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}

.leaflet-popup-content a:hover {
    background: #17d6eb
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    font: 600 1.8rem/1 'Nunito', sans-serif;
    z-index: 5;
}

.choose-history {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-history img {
    transform: translateX(-2px) translateY(2px);
}

.read-history {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-history img {
    border-radius: 100%;
    width: 85px;
    height: 85px;
    object-fit: cover;
      object-position: 100% 0;
}

.leaflet-container a.leaflet-popup-close-button {
    visibility: hidden;
}

.slider a {
    text-decoration: none;
}

